/* DEFAULTS (STARTS) */


* {
  box-sizing: Border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: 'PrimaryFont1';
	background-color: var(--dark-black);
	color: var(--white);
	line-height: 1.6;
  
}

.scroll-disabled {
  overflow: hidden;
}

ul {
	list-style: none;
}

a {
	color: var(--white);
	text-decoration: none;
}

h1, H2 {
	line-height: 25px;
}

img {
	width: 100%;
}

/* DEFAULTS (ENDS) */

/* COLORS (STARTS) */
:root {
  --dark-black: #272727;
  --medium-black: #2F2F2F;
  --light-black: #333333;
  --white: #ffffff;
  --purple: #947DB0;
  --blue: #6F93B4;
  --gree: #5D9299;
  --purple-highlight: #584777;
  --primary-ombre-one: linear-gradient(90deg, #CF94FE 14.87%, #7193C7 82.28%);
  --primary-ombre-two: linear-gradient(90deg, #805A9E 14.87%, #5E7AA4 82.28%);
  --purple-ombre: linear-gradient(240deg, #8A6BB1 22.01%, #947DB0 68.24%);
  --blue-ombre: linear-gradient(106deg, #6F93B4 -10.71%, #5B7A96 61.42%);
  --green-ombre: linear-gradient(139deg, #6BA9B1 16.1%, #5D9299 76.68%);

  /* Form Variables (Starts) */
  --h1:13px;
  --p: 20px
  /* Form Variables (Ends) */
}

/* COLORS (ENDS) */

/* FONTS (STARTS) */

@font-face {
  font-family: 'PrimaryFont1';
  src: url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SecondaryFont1';
  src: url('./fonts/RobotoFlex-Regular.ttf') format('truetype');
}
/* FONTS (ENDS) */

/* FORMS (STARTS) */

.regular-form-container {
  background-color: white;
  padding: 30px;
  color: var(--medium-black);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.regular-form-title-container {
  padding: 10px;
}

.regular-form-title-container h2 {
  font-size: 25px;
}

/* .regular-form-table-container h2,
.regular-form-table-container p {
  font-size: 10px;
  line-height: 10px;
} */

.regular-form-table, 
.regular-form-table td {
  border: 1px solid var(--medium-black);
  border-collapse: collapse;
}

.regular-form-table {
  border: 5px solid var(--medium-black);
}

/* td {
  padding: 10px;
} */

.regular-form-table {
  width: 100%;
}

.column-one {
  width: 299px;
  padding: 0px;
}
.column-two {
  width: 336px;
  padding: 0px;
}
.column-three {
  width: 261px;
  padding: 0px;
}
.column-four {
  width: 205px;
  padding: 0px;
}
.column-five {
  width: 340px;
  padding: 0px;
}
.column-six {
  width: 174px;
  padding: 0px;
}

.column-seven {
  padding: 0px;
}

.form-row-one {
  height: 100px;
  font-size: var(--h1);
}

.form-row-one p {
  font-size: var(--p);
}

.form-row-two {
  font-size: var(--h1);
  height: 65px;
}

.form-row-two P {
  font-size: var(--p);
}

.form-row-three {
  font-size: var(--h1);
  height: 75px;
}

.form-row-three p {
  font-size: var(--p);
}

.form-row-four {
  font-size: var(--h1);
  height: 100px;
}

.form-row-four p {
  font-size: var(--p);
}

.form-row-five {
  font-size: var(--h1);
  height: 30px;
}

.form-row-six {
  font-size: var(--h1);
  height: 30px;
}

.form-row-seven {
  font-size: var(--h1);
  height: 30px;
}

.form-row-eight {
  font-size: var(--h1);
  height: 30px;
}

.form-row-nine {
  font-size: var(--h1);
  height: 30px;
}

.form-row-middle {
  height: 30px;
}

  
/* REGULAR FORM (STARTS) */

/* REGULAR FORM (ENDS */

/* FORMS (ENDS) */

/* HOME (STARTS) */
.home-page-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.mobile-nav {
  background-color: var(--dark-black);
  display: none;
}

.mobile-nav-logo {
  /* background-color: yellow; */
  height: 40px;
  width: 71px;
}

.mobile-nav-icon {
  /* background-color: yellow; */
  height: 25px;
  width: 25px;
  position: absolute;
  left: 30px;
}

.nav-toggler {
  position: absolute;
  visibility: hidden;
}

.mobile-nav-hamburger-line {
  height: 2px;
  width: 35px;
  background-color: var(--white);
  position: absolute;
  right: 20px;
  top: 45px;
  z-index: 3;
  display: none;
}

nav {
  background-color: var(--medium-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.nav-elements-container {
  /* background-color: #5B7A96; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 16%;
  top: 20vh;
}

.nav-search-container {
  background-color: var(--white);
  height: 40px;
  width: 100%;
  display: none;
  border-radius: 6px;
}

.nav-menu-buttons-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* overflow: hidden; */
}

.nav-menu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.nav-button-highlight {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #805A9E 14.87%, #5E7AA4 82.28%);
  margin-top: 10px;
  border-radius: 100%;
  box-shadow: 0px 4px 18px 0px #8A6BB1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.nav-menu-buttons li {
  /* background-color: purple; */
  font-size: 12px;
  padding: 15px;
  cursor: pointer;
}

.nav-menu-buttons li:hover .nav-button-highlight {
  opacity: 1;
}

.nav-icon {
  min-width: 30px;
  height: 30px;
  /* background-color: orange; */
}

.logo-container {
  height: 222px;
  width: 80%;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cms-logo-one {
  max-width: 165px;
}

main {
  background-color: blue;
  display: grid;
  grid-template-rows: 8vh;
  min-height: 100vh;
}

.search-bar-container {
  background-color: var(--light-black);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
}

.dashboard-title-container {
  /* background-color: pink; */
  height: 40px;
  width: 100%;
  max-width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'PrimaryFont1';
  font-size: 15px;
}

.dashboard-search-container {
  background-color: red;
  height: 40px;
  width: 100%;
  max-width: 569px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.dashboard-search-icon-container {
  background-color: var(--white);
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.dashboard-search-bar-container {
  /* background-color: green; */
  height: 100%;
  width: 100%;
}

.dashboard-search-bar {
  background-color: var(--white);
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  outline: none;
}

header {
  background-color: var(--dark-black);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.header-content-background {
  background: linear-gradient(90deg, rgba(255, 221, 0, 0) 1%, var(--dark-black) 30%, var(--dark-black) 70.68%, rgba(255, 0, 0, 0) 100%);
  width: 1000px;
  height: 2000px;
  transform: rotate(35deg);
  position: absolute;
  z-index: 0;
}

.header-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square-panels {
  position: absolute;
  width: 1500px;
}


.header-greeting-container {
  /* background-color: green; */
  width: 100%;
  max-width: 824px;
  height: 60px;
  margin-top: 10px ;
  /* margin-bottom: 10px ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-greeting-container img {
  width: 340px;
}

.header-date-container {
  /* background-color: green; */
  width: 100%;
  max-width: 824px;
  height: 40px;
  /* margin-top: 10px ; */
  margin-bottom: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-date-container h3 {
  font-size: 17px;
  font-family: 'SecondaryFont1';
}

.header-line {
  background-color: var(--white);
  height: 0.5px;
  width: 200px;
}

.header-qoute-container {
  /* background-color: green; */
  width: 100%;
  max-width: 824px;
  height: 40px;
  margin-top: 10px ;
  margin-bottom: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-qoute-container p {
  font-size: 15px;
  font-family: 'SecondaryFont1';
  text-align: center;
}

.header-scroll-button-highlight {
  border-radius: 6px;
  width: 250px;
  height: 40px;
  margin-top: 30px;
  visibility: hidden;
  position: absolute;
}

.header-scroll-button-background {
  background: var(--primary-ombre-two);
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.header-scroll-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.header-scroll-button-highlight:hover,
.header-scroll-button-highlight:active {
  box-shadow: 0px 4px 20px 0px #584777;
}

.header-scroll-button:hover,
.header-scroll-button:active {
  background-color: var(--dark-black);
}

.customer-reports-section {
  background-color: var(--dark-black);
  height: 100%;
  padding: 15px 15px 0 15px;
}

.customer-reports-container{
  background-color: var(--light-black);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 6px;
  overflow: hidden;
  letter-spacing: 2px;
  padding: 25px;
}

.customer-reports-title-container {
  /* background-color: blue; */
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-ombre-one);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.customer-reports-buttons-container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer-reports-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: fit-content;
  justify-content: center;
}

.customer-reports-buttons li {
  height: fit-content;
}

.customer-reports-icon {
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer-reports-buttons li a {
  background-color: var(--white);
  width: 230px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  color: var(--medium-black);
  box-shadow: 0px 4px 27px 2px rgba(0, 0, 0, 0.61);
  font-size: 13px;
  border-bottom: 0px solid var(--purple) ;
  transition: all 0.3s ease-in-out
}

.customer-reports-buttons li a:hover{
  box-shadow: 0px 4px 20px 0px var(--purple-highlight);
  border-bottom: 6px solid var(--purple);
  transform: scale(1.03);
}

.special-reports-section {
  background-color: var(--dark-black);
  height: 100%;
  padding: 15px;
}

.special-reports-container {
  background-color: var(--light-black);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 6px;
  overflow: hidden;
  padding: 25px;
}

.special-reports-title-container {
  /* background-color: blue; */
  width: 100%;
  height: 40pxpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--primary-ombre-one);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.special-reports-buttons-container {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-reports-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  height: fit-content;
  justify-content: center;
}

.special-reports-buttons img {
  width: 35px;
  margin-bottom: 20px;
}

.special-reports-buttons li {
  height: fit-content;
}

.special-reports-buttons li a {
  background-color: green;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  font-size: 10px;
  letter-spacing: 2px;
}

.special-reports-buttons li a:hover {
  transform: scale(1.05);
}

.damage-report-button {
  background: var(--purple-ombre)
}

.vaulted-form-button {
  background: var(--blue-ombre)
}

.packing-list-button{
  background: var(--green-ombre)
}
/* HOME (ENDS) */

/* REGULAR FORM PAGE (STARTS) */
.form-inputs-section {
  background-color: var(--dark-black);
  height: 62vh;
  padding: 15px;
  
}

.form-inputs-content-container {
  background-color: var(--medium-black);
  height: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-inputs-container {
  background-color: red;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-inputs-container table {
  background-color: brown;
  width: 100%;
  max-width: 402px;
}

.row-label {
  text-align: right;
  padding: 2px 10px 2px 2px;
}

.form-inputs-container h2 {
  font-family: 'PrimaryFont1';
  font-weight: 600;
}

.form-customer-inputs-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
}

.form-product-inputs-container {
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
}

.form-submit-button-container {
  background-color:green;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.form-submit-button {
  width: 444px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: var(--white);
  font-family: 'PrimaryFont1';
  font-weight: 600;
  font-size: 14px;
}



/* REGULAR FORM PAGE (ENDS) */

@media screen and (max-width: 1024px) {

  /* HOME(STARTS) */
  .home-page-container {
    grid-template-columns: 1fr;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav-hamburger-line {
    display: flex;
    transform: translateY(-13px);
    transition: all 0.5s ease-in-out;
  }

  .mobile-nav-hamburger-line::before {
    content: "";
    height: 2px;
    width: 35px;
    background-color: var(--white);
    top: 10px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }
  
  .mobile-nav-hamburger-line::after {
    content: "";
    height: 2px;
    width: 35px;
    background-color: var(--white);
    top: -10px;
    z-index: 3;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  .nav-toggler {
    position: absolute;
    visibility: visible;
    opacity: 0;
    z-index: 4;
    right: 3px;
    height: 53px;
    width: 70px;
    cursor: pointer;
  }

  nav {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .nav-toggler:checked + nav {
    visibility: visible;
    opacity: 1;
  }


  .nav-toggler:checked ~ .mobile-nav-hamburger-line {
    transform: rotate(45deg);
  }
  
  .nav-toggler:checked ~ .mobile-nav-hamburger-line::before,
  .nav-toggler:checked ~ .mobile-nav-hamburger-line::after {
    transform: rotate(90deg);
    top: 0px;
  }

  .nav-elements-container {
    width: 80%;
  }

  .nav-menu-buttons li {
    font-size: 15px;
    gap: 10px;
  }

  .search-bar-container {
    height: 100%;
  }

  header {
    height: 100%;
  }

  /* .square-panels-top {
    position: absolute;
    width: 700px;
    left: 0;
    transform: translateX(-260px);
  }
  .square-panels-bottom {
    position: absolute;
    width: 60vw;
    right: 0;
    transform: translateX(300px);
  } */

  .customer-reports-section {
    height: 100%;
  }

  .special-reports-container {
    height: 100%;
  }

  main {
    grid-template-rows: 65px;
  }

}

@media screen and (max-width: 430px) {
  .search-bar-container {
    display: none;
  }

  .nav-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0 20px 0;
  }

  .nav-search-icon-container {
    /* background-color: blue; */
    height: 20px;
    width: 20px;
  }

  .nav-search-bar-container {
    background-color: var(--white);
    width: 100%;
    height: 100%;
  }
  
  .nav-search-bar-container input {
    border: none;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: 'PrimaryFont1';
    font-size: 10px;
    text-align: center;
    outline: none;
  }

  .search-hidden-small-screen {
    display: none;
  }

  header {
    height: 92vh;
  }
  
  .header-greeting-container img {
    width: 250px;
  }

  .header-date-container h3 {
    font-size: 15px;
    font-family: 'SecondaryFont1';
  }

  .header-line {
    background-color: var(--white);
    height: 0.5px;
    width: 200px;
  }

  .header-qoute-container p {
    font-size: 15px;
    font-family: 'SecondaryFont1';
  }

  .header-scroll-button-highlight {
    visibility: visible;
    position: static;
  }

}